<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin: 20px;
        line-height: 1.6;
      }

      .report-content {
        margin-top: 30px;
      }

      h1,
      h2 {
        margin-bottom: 20px;
        text-align: left;
        clear: both;
      }

      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 18px;
        color: #0066cc;
      }

      p {
        font-size: 14px;
        margin-bottom: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;
        border: 1px solid #000;
      }

      th,
      td {
        border: 1px solid #000;
        padding: 10px;
        /* text-align: left; */
        text-align: center;
        height: 24px;
      }

      th {
        background-color: #f8f8f8;
        font-weight: bold;
      }

      .remarks {
        page-break-inside: avoid;
      }

      .heading {
        padding-top: 35px;
      }
    </style>
  </head>
  <body>
    <div class="report-content">
      <!-- <h2 class="heading">Temprature Record Process</h2> -->
      <% if (arrayData && arrayData.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Unique Id</th>
            <th>Time</th>
            <th>Temperature Records</th>
            <th>Remark</th>
            <th>Checked By</th>
            <th>Supporting Documents</th>
          </tr>
        </thead>
        <tbody>
          <% arrayData.forEach(record => { %>
          <tr>
            <td><%= record?.unique_id %></td>
            <td><%= record?.time %></td>
            <td><%= record?.temprature_record %></td>
            <td><%= record?.remarks %></td>
            <td><%= record?.reviewed_by %></td>
            <td><%= record?.supporting_docs %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
